[Desktop Entry]
Name=Adapta
X-KDE-PluginInfo-Name=Adapta
X-KDE-PluginInfo-Author=Alexey Varfolomeev
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL v3
